MeteoQA.txt
[{"id":"c4c6bd07.faccb","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e55669e4.be3fb8","type":"serial in","z":"c4c6bd07.faccb","name":"COM8","serial":"1494e77f.2b5599","x":130,"y":160,"wires":[["7296459f.c7c6fc"]]},{"id":"a6b38f0e.9fe2a","type":"ui_gauge","z":"c4c6bd07.faccb","name":"CO","group":"d5da3e9b.46abf","order":1,"width":"3","height":"3","gtype":"gage","title":"CO","label":"ppm","format":"{{value}}ppm","min":0,"max":"700","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970,"y":420,"wires":[]},{"id":"1bb8bab1.9f4245","type":"ui_gauge","z":"c4c6bd07.faccb","name":"CO2","group":"d5da3e9b.46abf","order":1,"width":"3","height":"3","gtype":"gage","title":"CO2","label":"ppm","format":"{{value}}ppm","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970,"y":320,"wires":[]},{"id":"7296459f.c7c6fc","type":"function","z":"c4c6bd07.faccb","name":"","func":"var newMsg = {payload: msg.payload.toString()};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":160,"wires":[["fb273924.18bdc8"]]},{"id":"fb273924.18bdc8","type":"split","z":"c4c6bd07.faccb","name":"","splt":" ","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":390,"y":160,"wires":[["8ba25404.9b3658","f5181528.e236a8"]]},{"id":"8ba25404.9b3658","type":"function","z":"c4c6bd07.faccb","name":"Payload Object Sensor","func":"var newMsg = {};\nvar Sensor = {\n    NData: 0, \n    Temp_DHT: 0,\n    Humid_DHT: 0,\n    CO2: 0,\n    CO: 0,\n    Pressure_BMP:0,\n  \n    Time: new Date().toString()\n};\n\ncontext.data = context.data || {};\n\nswitch(msg.parts.index){\n    case 0:\n        context.data.NData = parseFloat(msg.payload);\n        msg = null;\n        break;\n    case 1:\n        context.data.Temp_DHT = parseFloat(msg.payload);\n        msg = null;\n        break;\n    case 2:\n        context.data.Humid_DHT = parseFloat(msg.payload);\n        msg = null;\n        break;\n    case 3:\n        context.data.CO2 = parseFloat(msg.payload);\n        msg = null;\n        break;\n    case 4:\n        context.data.CO = parseFloat(msg.payload);\n        msg = null;\n        break;   \n    case 5:\n        context.data.Pressure_BMP = parseFloat(msg.payload);\n        msg = null;\n        break;    \n    default:\n        msg = null;\n        break;\n}\n\nAllData = context.data.NData &&\n          context.data.Temp_DHT &&\n          context.data.Humid_DHT &&\n          context.data.CO2 &&\n          context.data.CO &&\n          context.data.Pressure_BMP ;\n\nif(AllData){\n    var time = Date();\n    context.data.Time = time.toString();\n    Sensor = context.data;\n    newMsg = { payload: context.data,\n    topic: 'Frame Sensor' };\n    context.data = null;\n    return newMsg;\n}\nelse\n    return msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":220,"wires":[["f2995104.456f3"]]},{"id":"f2995104.456f3","type":"function","z":"c4c6bd07.faccb","name":"Split Data","func":"var msgTemp_DHT = {payload: msg.payload.Temp_DHT};\nvar msgHumid_DHT = {payload: msg.payload.Humid_DHT};\nvar msgCO2 = {payload: msg.payload.CO2};\nvar msgCO = {payload: msg.payload.CO};\nvar msgPressure_BMP = {payload: msg.payload.Pressure_BMP};\n\nreturn [msgTemp_DHT, msgHumid_DHT, msgCO2, msgCO, msgPressure_BMP ];","outputs":5,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":280,"wires":[["5a10e5ce.0464fc"],["93ead3d6.0fea1"],["1bb8bab1.9f4245","138fca3b.b5e9d6"],["a6b38f0e.9fe2a","f38ba14d.cdd5"],["49a7945f.611c2c","31336845.d6ecc8"]]},{"id":"93ead3d6.0fea1","type":"ui_gauge","z":"c4c6bd07.faccb","name":"Umidade","group":"d5da3e9b.46abf","order":3,"width":"3","height":"3","gtype":"gage","title":"Umidade","label":"%UR","format":"{{value}}UR","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970,"y":200,"wires":[]},{"id":"f5181528.e236a8","type":"debug","z":"c4c6bd07.faccb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":100,"wires":[]},{"id":"49a7945f.611c2c","type":"ui_gauge","z":"c4c6bd07.faccb","name":"Pressure_BMP","group":"d5da3e9b.46abf","order":2,"width":"3","height":"3","gtype":"gage","title":"Pressão","label":"Pa","format":"{{value}}Pa","min":0,"max":"120000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":980,"y":500,"wires":[]},{"id":"5a10e5ce.0464fc","type":"ui_gauge","z":"c4c6bd07.faccb","name":"Temp_DHT","group":"d5da3e9b.46abf","order":4,"width":"3","height":"3","gtype":"gage","title":"Temperatura","label":"C°","format":"{{value}}C°","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":950,"y":120,"wires":[]},{"id":"31336845.d6ecc8","type":"debug","z":"c4c6bd07.faccb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":980,"y":560,"wires":[]},{"id":"f38ba14d.cdd5","type":"ui_chart","z":"c4c6bd07.faccb","name":"Variação de CO a cada 5min","group":"d5da3e9b.46abf","order":4,"width":"4","height":"4","label":"Variação de CO a cada 5min","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"5","ymax":"150","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#3d88bd","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#f31212","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1020,"y":360,"wires":[[]]},{"id":"dc163561.237c58","type":"remote-access","z":"c4c6bd07.faccb","confignode":"dd70d928.eb5aa8","name":"Estacao","verbose":0,"x":1330,"y":100,"wires":[[]]},{"id":"138fca3b.b5e9d6","type":"ui_chart","z":"c4c6bd07.faccb","name":"Variação de CO2 a cada 5min","group":"d5da3e9b.46abf","order":4,"width":"4","height":"4","label":"Variação de CO2 a cada 5min","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"15","ymax":"150","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#3d88bd","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#f31212","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1050,"y":280,"wires":[[]]},{"id":"1494e77f.2b5599","type":"serial-port","serialport":"COM8","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"0","bin":"bin","out":"time","addchar":"","responsetimeout":""},{"id":"d5da3e9b.46abf","type":"ui_group","name":"Qualidade do Ar","tab":"784aac14.5c2404","order":2,"disp":true,"width":"6","collapse":false},{"id":"dd70d928.eb5aa8","type":"remote-config","name":"Estacao note","host":"localhost","protocol":"http","port":"1880","baseurl":"/ui","instancehash":"u9l8f5vs36q7lqlqmtf09oug1t0499tkuhbht0q95qz9p8tut6l3jsyyzjm98kjh","server":"nodered03.remote-red.com","region":"us"},{"id":"784aac14.5c2404","type":"ui_tab","name":"Station","icon":"dashboard","order":1,"disabled":false,"hidden":false}]